{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <input type="hidden" id="books" value="{{nbLivres}}" />
        <div class="row">
            <div class="col-2" style="position: absolute; top: 125px; left: 145px">
                <a href="../produits" style="color: indianred">Tous</a>
                <hr />
                {% for saga in sagas %}
                    {% set titre = saga.getTitreSaga %}
                    <a href="../produits/{{titre|url_encode}}" style="color: indianred">{{saga.getTitreSaga}}</a>
                    <hr />
                {% endfor %}
                <br><br>
            </div>
            <div class="col-10" style="margin-left: 165px">
                {% for livre in livres %}
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <img style=" max-width: 100%; max-height: 100%; width: 175px; height: 235px; margin-top: 15px; margin-left: 20px" alt="" src="{{asset(livre.getCouvertureLivre)}}">
                        </div>
                        <div class="col-md-5">
                            <h3>{{livre.getTitreLivre}}</h3>
                            <br>
                            <div style="height: 170px; overflow: hidden" id="resumeLivre{{livre.getIdLivre}}" class="resume">
                                {{livre.getResumeLivre}}
                            </div>
                            <div id="fleches" style="text-align: center; margin-top: 5px; margin-left: -45px">
                                <span id="flecheUp{{livre.getIdLivre}}"><i class="fas fa-angle-up"></i></span>
                                <span id="flecheDown{{livre.getIdLivre}}"><i class="fas fa-angle-down"></i></span>
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-md-3" id="centre" >
                            <h3> {{"%.2f"|format(livre.getPrixLivre)}} €</h3>
                            <legend style="font-size: 13px">Toutes les taxes sont incluses.</legend>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if app.user.getRole() == "ROLE_USER" %}
                                    {% if livre.getStockLivre > 0 %}
                                        <br> <br> 
                                        <div class="col-md-2" id="bouton" style="margin-left: -20px">
                                            <a class="btn btn-primary" href="../panier/{{livre.getIdLivre|url_encode}}"  style="color: white;text-decoration: none;">
                                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                                Ajouter au panier
                                            </a>
                                        </div>
                                    {% else %}
                                        <br> <br> 
                                        <div style="margin-left: -15px"><b><u>Rupture de Stock</u> !</b></div>
                                    {% endif %}
                                {% else %}
                                    <br> <br> 
                                    <div style="margin-left: -15px"><b>Identifiez-vous en tant qu'Utilisateur pour ajouter cet article au panier.</b></div>
                                {% endif %}
                        {% else %}
                            <br> <br> 
                            <div style="margin-left: -15px"><b>Identifiez-vous pour ajouter cet article au panier.</b></div>
                        {% endif %}
                        </div>
                    </div>
                    <br /> <br /> 
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}
