{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <input type="hidden" id="books" value="{{nbLivres}}" />
        <div class="row">
            <div class="col-12">
                {% for commande in commandes %}
                    <br />
                    <div class="row">
                        <div class="col-10">
                            <u><b>Commande n°{{commande.getIdCommande}}</b></u> : {{commande.getStatut.getLibellestatut()}}
                            <br>
                            <i style="font-size: 12px">Commander le {{commande.getDate}}</i>
                        </div>
                        <div class="col-2">
                            <u><b>Prix Total</b></u> : {{commande.getPrixTotal()}} €
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <a class="btn btn-primary" href="../print/{{commande.getIdCommande}}" target="_blank"  style="color: white; text-decoration: none; margin-top: 25px; margin-left: 485px">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Générer en PDF
                            </a>
                        </div>
                    </div>
                    <br>

                    <br>
                    {% for i in 0..commande.recupTaille - 1%}
                        <br> 
                        <div class="row">
                            <div class="col-md-3">
                                {% set path = commande.recupContenu[i].getIdlivre.getCouvertureLivre()%} 
                                <img style=" max-width: 100%; max-height: 100%; width: 135px; height: 200px; margin-top: 15px; margin-left: 80px" alt="" src="{{asset(path)}}">
                            </div>
                            <div class="col-md-5">
                                <h4 style="margin-top: 50px">{{commande.recupContenu[i].getIdlivre.getTitreLivre()}}</h4>
                                <br>
                                {% if commande.recupContenu[i].getNbLivre() > 1 %}
                                    <div style="font-size: 10px">{{commande.recupContenu[i].getNbLivre()}} exemplaires</div>
                                {% else %}
                                    <div style="font-size: 10px">{{commande.recupContenu[i].getNbLivre()}} exemplaire</div>
                                {% endif %}
                            </div>
                            <div class="col-1"></div>
                            <div class="col-md-3" id="centre" >
                                {% if commande.recupContenu[i].getNbLivre() > 1 %}
                                    <h4 style="margin-top: 60px">{{commande.recupContenu[i].getNbLivre() * commande.recupContenu[i].getIdlivre.getPrixLivre()}} €</h4>
                                    <div style="font-size: 13px"> {{"%.2f"|format(commande.recupContenu[i].getIdlivre.getPrixLivre())}} € /Unité</div>
                                {% else %}
                                    <h4 style="margin-top: 60px"> {{"%.2f"|format(commande.recupContenu[i].getIdlivre.getPrixLivre())}} €</h4>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <br><br>
                    <hr style="width: 100%"/> 
                {% endfor %}
                <br><br>
            </div>
        </div>
    </div>

{% endblock body %}
